/* NavBar */
nav {
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: space-between ;
    padding: 20px 40px;
    
}

nav h1 {
    color: var(--primary-color);
}
nav ul {
display: flex;
flex-direction: row;
gap: 40px;
}
.menu-burger {
    display: none;
}
label {
    cursor: pointer;
}

@media  screen and (max-width: 720px) {
    .menu-burger {
        display: block;
    }

    nav ul {
        position: fixed;
        flex-direction: column;
        top: 86px;
        width: 90%;
        background-color: var(--bg-color);
        }
}
