.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: auto;
}

.imagen {
    height: 400px;
    width: 600px;
}

.biografia {
    width: 450px;
}

.skill-header {

    margin: 10px 10px 10px 10px;
}
.skill-img {
    width: 400px;
    height: 600;
    background-color: #ffff;
    border-radius: 11px;
    padding: 20px;
    margin: 10px;
}

.skill {
    text-align: center;
    margin: auto;
}

.menu-burger {
    display: none;
    cursor: pointer;
}

@media  screen and (max-width: 720px) {
    .menu-burger {
        display: block;
    }

    nav ul {
        position: fixed;
        flex-direction: column;
        top: 86px;
        width: 90%;
        background-color: var(--bg-color);
        }
}