.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: auto;
}

.imagen {
    height: 200px;
    width: 100px;
}

.biografia {
    width: 450px;
}

.skill-header {

    margin: 10px 10px 10px 10px;
}
.skill-img {
    width: 400px;
    height: 600;
    background-color: #ffff;
    border-radius: 11px;
    padding: 20px;
    margin: 10px;
}

.skill {
    text-align: center;
    margin: auto;
}